@font-face
{
    font-family: 'odibee_sansregular';
    src: url('odibeesans-regular-webfont.woff2') format('woff2'),
         url('odibeesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1
{
  color: #b1091d;
  font-family: 'odibee_sansregular', Arial, Helvetica, sans-serif;
  font-size: 56px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

body
{
  color: black;
  background-color: white;
}

article
{
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

footer
{
  color: white;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.1px;
  line-height: 1.6;
  font-size: 18px;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
}

button
{
  border: none;
  outline: none;
}

.dropdown-menu
{
  display: none;
  color: white;
  background-color: #b1091d;
}

.hamburger
{
  fill: white;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.masthead
{
  float: right;
}

.header
{
  background-color: black;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

a:link
{
  color:#b1091d;
  text-decoration: none;
}

a:visited
{
  color:#b1091d;
  text-decoration: none;
}

a:hover
{
  color:black;
}

a:active
{
  color:white;
}

h2.post
{
  color: #b1091d;
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  line-height: 3;
}

h3.post
{
  color: #b1091d;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  line-height: 3;
}

p.post
{
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.1px;
  line-height: 2;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.console
{
  color: green;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.1px;
  line-height: 2;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

ul.console
{
  color: green;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.1px;
  line-height: 2;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.active
{
  background-color: #b1091d;
  color: white;
}

#dark-mode-button {
  float: right;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  background-color: black;
   border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#light-mode-button {
  float: right;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  background-color: white;
   border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#dark-mode-button:hover {
  background-color: #b1091d;
}

#light-mode-button:hover {
  background-color: #b1091d;
  color: white;
}