
@font-face
{
    font-family: 'odibee_sansregular';
    src: url('odibeesans-regular-webfont.woff2') format('woff2'),
         url('odibeesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1
{
  color: #1DB700;
  font-family: 'odibee_sansregular', Arial, Helvetica, sans-serif;
  font-size: 56px;
  padding-left: 20px;
}

h2
{
  color: #1c4670;
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  line-height: 3;
}

h3
{
  color: #278ab0;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  line-height: 3;
}

body
{
  color: #1c4670;
  background-color: #eaeae0;
}

article
{
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

footer
{
  color: #eaeae0;
  background-color: #1c4670;
  background-image: linear-gradient(to right, #1c4670, #278ab0);
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.1px;
  line-height: 1.6;
  font-size: 18px;
  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: 50px;
}

button
{
  border: none;
  outline: none;
}

.dropdown
{
  float: right;
  position: relative;
}

.dropdown-menu
{
  display: none;
  position: absolute;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  text-align: right;
  color: #eaeae0;
  background-color: #1DB700;
  min-width: 450px;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.menu-item
{
  padding: 15px;
}

.hamburger
{
  fill: #eaeae0;
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.header
{
  background-color: #1c4670;
  background-image: linear-gradient(to right, #1c4670, #278ab0);
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}

.show
{
  display: block;
}

a:link
{
  color:#1DB700;
  text-decoration: none;
}

a:visited
{
  color:#1DB700;
  text-decoration: none;
}

a:hover
{
  color: #278ab0;
}

a:active
{
  color:#eaeae0;
}

p.post
{
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.1px;
  line-height: 2;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

p.console
{
  color: green;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.1px;
  line-height: 2;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

ul.console
{
  color: green;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1.1px;
  line-height: 2;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.active
{
  background-color: #1DB700;
  color: #eaeae0;
}

.menu-item:hover
{
  color: #1DB700;
  background-color: #eaeae0;
}

#menu-icon
{
  cursor: pointer;
}