<div class="header">
  <!--MENU-->
  <div>
    <h1>CMJ</h1>
  </div>
  <nav class="dropdown">
    <a href="/">Home</a>
    <a href="/blogs">Blogs</a>
    <a href="/tutorials">Tutorials</a>
    <!-- <svg class="hamburger" id="menu-icon" viewBox="0 0 100 80" width="40" height="40">
      <rect width="100" height="15"></rect>
      <rect y="30" width="100" height="15"></rect>
      <rect y="60" width="100" height="15"></rect>
    </svg>

    <div id="menuDropdown" class="dropdown-menu">
      <div class="menu-item" id="homeBtn">Home<br /></div>
      <div class="menu-item" id="b0001Btn">Getting Started<br /></div>
      <div class="menu-item" id="b0002Btn">Pep Talk<br /></div>
      <div class="menu-item" id="b0003Btn">Small Potatoes<br /></div>
      <div class="menu-item" id="t0001Btn">Hosting a Static HTTPS Website on AWS<br /></div>
      <div class="menu-item" id="t0002Btn">The Quick and Dirty on Git and GitHub<br /></div>
    </div> -->
  </div>
</nav>
