<div class="header">
  <!--MENU-->
  <div>
    <h1>CMJ</h1>
  </div>
  <nav class="dropdown">
    <a href="/">Home</a>
    <div class="dropdown">
      <button class="dropbtn">
        Blogs
        <i class="fa fa-caret-down"></i>
      </button>
    </div>
    <div class="dropdown-content">
      <% blogTitle.forEach(function (blog) { %>
      <div class="menu-item"><a href="/blogs/<%= blog.shortTitle %>"> <%= blog.articleTitle %></a></div>
      <% }) %>
    </div>
  </nav>
</div>
