<article id="articleId">
  <h2 class="post">Who Is This Guy?</h2>
  <p class="post">
    Craig has been an IT professional for ten years, mostly as a systems administrator, but he has started on his
    journey of software development. He has had the pleasure of working with some very smart men and women and has done
    his best to soak up as much as he can.
  </p>
  <p class="post">
    Outside of technology, Craig enjoys playing guitar, hiking, and most importantly, spending time with his wife and
    children.
  </p>
  <h2 class="skills">Skills</h2>
  <table class="post">
    <tr>
      <td>&#x2022; HTML5</td>
      <td>&#x2022; JavaScript</td>
    </tr>
    <tr>
      <td>&#x2022; CSS 3</td>
      <td>&#x2022; React</td>
    </tr>
    <tr>
      <td>&#x2022; Node.js</td>
      <td>&#x2022; Express</td>
    </tr>
    <tr>
      <td>&#x2022; MongoDB</td>
      <td>&#x2022; MariaDB/MySQL</td>
    </tr>
    <tr>
      <td>&#x2022; SQL</td>
      <td>&#x2022; Docker</td>
    </tr>
    <tr>
      <td>&#x2022; AWS</td>
    </tr>
  </table>
</article>
